/* =========
Your custom styles go here
 ========= */

body {
  background-color: #EEEEEE
}

.layout-dark .toolbar, .toolbar.layout-dark {
  background-color: transparent;
}

.layout-dark .toolbar:before, .toolbar.layout-dark:before {
  background-color: transparent;
}

.tabbar i.icon {
  height: 60px;
  margin-bottom: 20px;
}
